
<%- include('ek/header', {bot, user, path}) %>
<script type="text/javascript">
var title = "Astarius - Düzenle";
document.title = title;
</script>
 <style>
      html, body {
          background-color:#fff !important;
          background: url(https://cdn.discordapp.com/attachments/636915676665217035/733725416266924123/inspiration-geometry.png) repeat 0 0;
          max-width: 100%;
          overflow-x: hidden;
          -webkit-animation: slide 20s linear infinite;
      }
      body::-webkit-scrollbar {
          width: 0.6em;
      }
      body::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
      }

      body::-webkit-scrollbar-thumb {
        background-color: #FF0F00;
        outline: 1px solid #fff;
      }
      a{
        text-decoration:none !important;
      }
      @-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: 0 -400px; }
}
    </style>
<div class="container is-fullhd">
	<% if(bot.ayar.fetch(`botlar.${id}.sahipid`) === user.id) { %>
 <form method="post">
				
   <div class="jumbotron">
     <h2 style="color: #333;text-align:center;">Bot Düzenleme</h2>
		<label><i aria-hidden="true"></i>Bot Prefix <a style="color:red">*</a></label>
      <input type="text" name="botprefix" id="botprefix" value="<%=bot.ayar.fetch(`botlar.${id}.prefix`)%>" required="required">
     
     <label><i aria-hidden="true"></i>Kütüphane <a style="color:red">*</a></label>
     <select id="kutuphane" name="kutuphane" required="required">
       <option value="<%=bot.ayar.fetch(`botlar.${id}.kutuphane`)%>" selected><%=bot.ayar.fetch(`botlar.${id}.kutuphane`)%></option>
       <option value="discordcr" >discordcr</option>
        
          <option value="Nyxx" >Nyxx</option>
        
          <option value="Discord.Net" >Discord.Net</option>
        
          <option value="DSharpPlus" >DSharpPlus</option>
        
          <option value="Nostrum" >Nostrum</option>
        
          <option value="coxir" >coxir</option>
        
          <option value="DiscordGo" >DiscordGo</option>
        
          <option value="Discord4J" >Discord4J</option>
        
          <option value="Javacord" >Javacord</option>
        
          <option value="JDA" >JDA</option>
        
          <option value="discord.js" >discord.js</option>
        
          <option value="Eris" >Eris</option>
        
          <option value="Discordia" >Discordia</option>
        
          <option value="RestCord" >RestCord</option>
        
          <option value="Yasmin" >Yasmin</option>
        
          <option value="disco" >disco</option>
        
          <option value="discord.py" >discord.py</option>
        
          <option value="discordrb" >discordrb</option>
        
          <option value="serenity" >serenity</option>
        
          <option value="SwiftDiscord" >SwiftDiscord</option>
        
          <option value="Sword" >Sword</option>
        
        <option value="Other" >Diğer</option>
     </select>
     
     <label><i aria-hidden="true"></i>Bot Sahibi ID <a style="color:red">*</a></label>
     <input type="text" name="sahip" id="sahip" value="<%=user.id%>" disabled>
     
     <label><i aria-hidden="true"></i>Kısa Açıklama <a style="color:red">*</a></label>
      <input type="text" name="kisa-aciklama" id="kisa-aciklama"value="<%=bot.ayar.fetch(`botlar.${id}.kisaaciklama`)%>" maxlength="50" required="required">
     <br>
     <label><i aria-hidden="true"></i>Uzun Açıklama <a style="color:red">*</a></label>
      <% var xx %>
<% for (var ii = 0; ii < bot.tags.length; ii++) { %>
  <% if(bot.ayar.fetch(`botlar.${id}.uzunaciklama`).includes(bot.tags[ii]) === false) {%>
    <% xx = false %>
 <% } %>
    <% if (bot.ayar.fetch(`botlar.${id}.uzunaciklama`).includes(bot.tags[ii]) === true) { %>
     <% x = true %>
    <% } %>
<% } %>
      
        <!--<pre style="height:150px; background-color:#222; color:#fff;" name="uzun-aciklama" id="uzun-aciklama"><code>
        <%= //bot.ayar.fetch(`${id}.uzunaciklama`) %>
        </code></pre>-->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
     <script>
var simplemde = new SimpleMDE({ element: document.getElementById("uzun-aciklama") }); 
     </script>
     
      <textarea name="uzun-aciklama" id="uzun-aciklama" value="<%=bot.ayar.fetch(`${id}.uzunaciklama`)%>" required="required">      
        <%= bot.ayar.fetch(`botlar.${id}.uzunaciklama`) %>
      </textarea>
     <br>
     <label><i aria-hidden="true"></i>Etiketler <a style="color:red">*</a></label>
      <select multiple id="etikett" name="etikett">
        <% if(bot.ayar.fetch(`botlar.${id}.etiket`).includes('Moderasyon')) { %>
        <option value="Moderasyon" selected>Moderasyon</option>
        <% } else { %>
        <option value="Moderasyon">Moderasyon</option>
        <% } %>
        <% if(bot.ayar.fetch(`botlar.${id}.etiket`).includes('Müzik')) { %>
        <option value="Müzik" selected>Müzik</option>
        <% } else { %>
        <option value="Müzik">Müzik</option>
        <% } %>
        <% if(bot.ayar.fetch(`botlar.${id}.etiket`).includes('Ayarlar')) { %>
        <option value="Ayarlar" selected>Ayarlar</option>
        <% } else { %>
        <option value="Ayarlar">Ayarlar</option>
        <% } %>
        <% if(bot.ayar.fetch(`botlar.${id}.etiket`).includes('Eğlence')) { %>
        <option value="Eğlence" selected>Eğlence</option>
        <% } else { %>
        <option value="Eğlence">Eğlence</option>
        <% } %>
        <% if(bot.ayar.fetch(`botlar.${id}.etiket`).includes('Web Panel')) { %>
        <option value="Web Panel" selected>Web Panel</option>
        <% } else { %>
        <option value="Web Panel">Web Panel</option>
        <% } %>
       </select>
       <p>
         <a style="color:red">Not: </a><a style="color:#333">birden çok etiket seçilebilir. Bilgisayarda iseniz <i>ctrl</i> tuşuna basılı tutarak seçiniz etiketleri.</a>
       </p>
     <br>
     <label><i aria-hidden="true"></i>Web Site URL'si</label>
		<% if(!bot.ayar.has(`botlar.${id}.site`)) { %>
      <input type="url" style="text-align: center;" name="botsite" id="botsite"
                placeholder="Var ise web site url yazınız.">
                <% } else { %>
                    <input type="url" style="text-align: center;" name="botsite" id="botsite"
                value="<%=bot.ayar.fetch(`botlar.${id}.site`)%>">
                <% } %>
     <br>
     <label><i aria-hidden="true"></i>Github URL'si</label>
      <% if(!bot.ayar.has(`botlar.${id}.github`)) { %>
      <input type="url" style="text-align: center;" name="github" id="github"
                placeholder="Var ise github url yazınız.">
                <% } else { %>
                    <input type="url" style="text-align: center;" name="github" id="github"
                value="<%=bot.ayar.fetch(`botlar.${id}.github`)%>">
                <% } %>
     <br>
     <label><i aria-hidden="true"></i>Destek Sunucusu URL'si</label>
      <% if(!bot.ayar.has(`botlar.${id}.destek`)) { %>
      <input type="url" style="text-align: center;" name="botdestek" id="botdestek"
                placeholder="Botunuzun var ise Discord destek sunucusu URL'sini yazınız.">
                <% } else { %>
                    <input type="url" style="text-align: center;" name="botdestek" id="botdestek"
                value="<%=bot.ayar.fetch(`botlar.${id}.destek`)%>">
                <% } %>
   
   
   <h6 style="color:red">
     Yanında * olanlar zorunlu, olmayanlar ise isteğe bağlıdır.
   </h6>

					<button type="submit" class="butonss"><i class="fa fa-save fa-fw"></i> Düzenle<i aria-hidden='true'></i></button>
   </div>
			</form>
			<% } else { %>
			<div class="jumbotron">
			Hey sen bu botun sahibi değilsin düzenleyemessin.
			</div>
			<% } %>
		</div>
	</div>
</div>
</div>
<% include ./ek/footer %>