<%- include('ek/header', {bot, user, path}) %>
<script type="text/javascript">
var title = "Astarius - Profil Ayarla";
document.title = title;
</script>
<div class="container">
  <form method="POST">
  <div align="center" class="jumbotron" style="color:#333">

       <img src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>.png?size=512" class="rounded-circle panell">
       <h3 style="color:#333"><%=user.username%>#<%=user.discriminator%></h3>
       <h5 style="color:#333">Profil Ayarlama</h5>

    <label><i aria-hidden="true"></i>İsminiz: <a style="color:red">*</a></label>
    <input type="text"name="isim" id="isim" required="required">
    <br>

    <label><i aria-hidden="true"></i>Yaşınız: </label>
    <input type="text"name="yas" id="yas">
    <br>

    <label><i aria-hidden="true"></i>Biyografi:</label>
    <input type="text" name="biyo" id="biyo" required="required">
    <br>

    <label><i aria-hidden="true"></i>Favori kodlama diliniz:</label>
        <select id="favlib" name="favlib" required="required">
            <option disabled selected>Favori kodlama dilinizi seçiniz.</option>
            <option value="Yok">Yok</option>
            <option value="JavaScript">JavaScript</option>
            <option value="Node.JS">Node.JS</option>
            <option value="HTML">HTML</option>
            <option value="Lua">Lua</option>
            <option value="PHP">PHP</option>
            <option value="Python">Python</option>
            <opiton value="Java">Java</opiton>
            <option value="C++">C++</option>
            <option value="C#">C#</option>
            <option value="Ruby">Ruby</option>
        </select>
    <br>

    <label><i aria-hidden="true"></i>Bildiğiniz kodlama dilleri:</label>
            <select id="libs" name="libs" required="required" multiple>
                <option disabled selected>Bildiğiniz kodlama dillerini seçiniz.</option>
                <option value="Yok">Yok</option>
                <option value="JavaScript">JavaScript</option>
                <option value="Node.JS">Node.JS</option>
                <option value="HTML">HTML</option>
                <option value="Lua">Lua</option>
                <option value="PHP">PHP</option>
                <option value="Python">Python</option>
                <opiton value="Java">Java</opiton>
                <option value="C++">C++</option>
                <option value="C#">C#</option>
                <option value="Ruby">Ruby</option>
    </select>
      <p>
            <a style="color:red">Not: </a><a style="color:lightgrey">birden çok etiket seçilebilir. Bilgisayarda iseniz <i>ctrl</i> tuşuna basılı tutarak seçiniz etiketleri.</a>
            </p>

    <h6 style="color:red">
            Yanında * olanlar zorunlu, olmayanlar ise isteğe bağlıdır.
          </h6>
        <button type="submit" class="butonss"><i class="fa fa-save fa-fw"></i> Kaydet<i aria-hidden='true'></i></button>
    </div>
    </form>
</div></div>
<% include ./ek/footer %>
