<%- include('ek/header', {bot, user, path}) %>
<script type="text/javascript">
var title = "Astarius - Yetkili Panel";
document.title = title;
document.getElementById("yetkili").classList.add('active');
</script>
 <style>
      html, body {
          background-color:#fff !important;
          background: url(https://cdn.discordapp.com/attachments/636915676665217035/733725416266924123/inspiration-geometry.png) repeat 0 0;
          max-width: 100%;
          overflow-x: hidden;
          -webkit-animation: slide 20s linear infinite;
      }
      body::-webkit-scrollbar {
          width: 0.6em;
      }
      body::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
      }

      body::-webkit-scrollbar-thumb {
        background-color: #FF0F00;
        outline: 1px solid #fff;
      }
      a{
        text-decoration:none !important;
      }
      @-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: 0 -400px; }
}
    </style>
<div class="container">
	<div class="jumbotron">
		<div align="center">
      
<% if (bot.ayar.has('botlar')) { %>

<!-- Tüm Botlar -->
<a class="btn btn-default" style="background-color: #fff;color: #222;width: 100%;border: 1px solid #ddd;margin-bottom: 5px;font-size: 18px;border-radius: 2px;" data-toggle="collapse" data-target="#tum">Tüm Botlar</a>
<div id="tum" class="collapse in">
<div style="overflow-x:auto;width: 100%;font-size: 15px;">
<table class="table" style="background-color:#333">
<tr>
<th>Bot Adı</th>
<th>Bot ID</th>
<th>Bot Prefix</th>
<th>Sahip</th>
<th>Sahip ID</th>
<th>Durum</th>
</tr>

<%for(var i = 0; i < Object.keys(bot.ayar.fetch('botlar')).length; i++) {%>
<% let id = Object.keys(bot.ayar.fetch('botlar'))[i] %>

<td scope="row"><%=bot.ayar.fetch(`botlar.${id}.isim`)%></td>
<td><%=bot.ayar.fetch(`botlar.${id}.id`)%></td>
<td><%=bot.ayar.fetch(`botlar.${id}.prefix`)%></td>
<td><%=bot.ayar.fetch(`botlar.${id}.sahip`)%></td>
<td><%=bot.ayar.fetch(`botlar.${id}.sahipid`)%></td>
<td><%=bot.ayar.has(`botlar.${id}.durum`) ? bot.ayar.fetch(`botlar.${id}.durum`) : 'Beklemede'%></td>
</tr>
<% } %>

</table>
  </div></div>
<br><br>

<!-- Beklemede olan botlar -->
<a class="btn btn-default" style="background-color: #fff;color: #222;width: 100%;border: 1px solid #ddd;margin-bottom: 5px;font-size: 18px;border-radius: 2px;" data-toggle="collapse" data-target="#onaybekleyen">Beklemede Olan Botlar</a>
<div id="onaybekleyen" class="collapse in">
<div style="overflow-x:auto;width: 100%;font-size: 15px;">
<table class="table" style="background-color:#333">
<tr>
<th>İşlem</th>
<th>Bot Adı</th>
<th>Bot ID</th>
<th>Sahip</th>
<th style="width:10%;">Prefix</th>
</tr>

<%for(var i = 0; i < Object.keys(bot.ayar.fetch('botlar')).length; i++) {%>
<% let id = Object.keys(bot.ayar.fetch('botlar'))[i] %>
<% if (bot.ayar.fetch(`botlar.${id}.durum`) === 'Beklemede' || bot.ayar.has(`botlar.${id}.durum`) === false) { %>
<tr>
<td><a class="btn btn-success" href="/botyonetici/onayla/<%=id%>">Onayla<i aria-hidden="true"></i></a>
<a class="btn btn-danger" href="/botyonetici/reddet/<%=id%>">Reddet<i aria-hidden="true"></i></a>
<a class="btn btn-primary" href="https://discordapp.com/oauth2/authorize?client_id=<%=id%>&scope=bot&permissions=0">Davet Et (Perm: 0)</a>
<a class="btn btn-primary" href="https://discordapp.com/oauth2/authorize?client_id=<%=id%>&scope=bot&permissions=8">Davet Et (Perm: 8)</a></td>
<td><%=bot.ayar.fetch(`botlar.${id}.isim`)%></td>
<td><%=bot.ayar.fetch(`botlar.${id}.id`)%></td>
<td><%=bot.ayar.fetch(`botlar.${id}.sahip`)%></td>
<td><%=bot.ayar.fetch(`botlar.${id}.prefix`)%></td>
</tr>
<% } %>
<%}%>
</table>
</div>
</div>
  <br><br>

<!-- Onaylanmış Botlar -->
<a class="btn btn-default" data-toggle="collapse" style="background-color: #fff;color: #222;width: 100%;border: 1px solid #ddd;margin-bottom: 5px;font-size: 18px;border-radius: 2px;" data-target="#onaylı">Onaylanmış Botlar</a>
<div id="onaylı" class="collapse in">
<div style="overflow-x:auto;width: 100%;font-size: 15px;">
		<table class="table" style="background-color:#333">
		<tr>
		<th>İşlem</th>
		<th>Bot Adı</th>
		<th>Bot ID</th>
    <th>Sahip</th>
		<th>Bot Prefix</th>
		</tr>	
      
		<%for(var i = 0; i < Object.keys(bot.ayar.fetch('botlar')).length; i++) {%>
		<% let id = Object.keys(bot.ayar.fetch('botlar'))[i] %>
		<% if (bot.ayar.fetch(`botlar.${id}.durum`) === 'Onaylı') { %>
	  <tr>
		<td><a class="btn btn-warning" href="/botyonetici/bekleme/<%=id%>">Beklemeye Al<i aria-hidden="true"></i></a>
		<a class="btn btn-danger" href="/botyonetici/reddet/<%=id%>">Reddet<i aria-hidden="true"></i></a>
		<a class="btn btn-primary" href="https://discordapp.com/oauth2/authorize?client_id=<%=id%>&scope=bot&permissions=0">Davet Et (Perm: 0)</a>
		<a class="btn btn-primary" href="https://discordapp.com/oauth2/authorize?client_id=<%=id%>&scope=bot&permissions=8">Davet Et (Perm: 8)</a>
    </td>
		<td><%=bot.ayar.fetch(`botlar.${id}.isim`)%></td>
		<td><%=bot.ayar.fetch(`botlar.${id}.id`)%></td>
    <td><%=bot.ayar.fetch(`botlar.${id}.sahip`)%></td>
		<td><%=bot.ayar.fetch(`botlar.${id}.prefix`)%></td>
		</tr>
		<% } %>
		<%}%>
		</table>
		</div>
</div>
  <br><br>

<!-- Reddedilmiş Botlar -->
<a class="btn btn-default" data-toggle="collapse" style="background-color: #fff;color: #222;width: 100%;border: 1px solid #ddd;margin-bottom: 5px;font-size: 18px;border-radius: 2px;" data-target="#onaysız">Reddedilmiş Botlar</a>
<div id="onaysız" class="collapse in">
<div style="overflow-x:auto;width: 100%;font-size: 15px;">
		<table class="table" style="background-color:#333">
		<tr>
		<th>İşlem</th>
		<th>Bot Adı</th>
		<th>Bot ID</th>
    <th>Sahip</th>
		<th style="width:10%;">Bot Prefix</th>
		</tr>	
		<%for(var i = 0; i < Object.keys(bot.ayar.fetch('botlar')).length; i++) {%>
		<% let id = Object.keys(bot.ayar.fetch('botlar'))[i] %>
		<% if (bot.ayar.fetch(`botlar.${id}.durum`) === 'Reddedilmiş') { %>
		<tr>
		<td><a class="btn btn-success" href="/botyonetici/onayla/<%=id%>">Onayla<i aria-hidden="true"></i></a>
		<a class="btn btn-warning" href="/botyonetici/bekleme/<%=id%>">Beklemeye Al<i aria-hidden="true"></i></a>
		<a class="btn btn-primary" href="https://discordapp.com/oauth2/authorize?client_id=<%=id%>&scope=bot&permissions=0">Davet Et (Perm: 0)</a>
		<a class="btn btn-primary" href="https://discordapp.com/oauth2/authorize?client_id=<%=id%>&scope=bot&permissions=8">Davet Et (Perm: 8)</a></td>
		<td><%=bot.ayar.fetch(`botlar.${id}.isim`)%></td>
		<td><%=bot.ayar.fetch(`botlar.${id}.id`)%></td>
    <td><%=bot.ayar.fetch(`botlar.${id}.sahip`)%></td>
		<td><%=bot.ayar.fetch(`botlar.${id}.prefix`)%></td>
		</tr>
		<% } %>
		<%}%>
		</table>
		</div>
</div>
  <br><br>
    
    <!-- Sertifika isteği yapılmış botlar -->
<a class="btn btn-default" data-toggle="collapse" style="background-color: #fff;color: #222;width: 100%;border: 1px solid #ddd;margin-bottom: 5px;font-size: 18px;border-radius: 2px;" data-target="#sertifikaistek">Sertifika İstekleri</a>
<div id="sertifikaistek" class="collapse in">
<div style="overflow-x:auto;width: 100%;font-size: 15px;">
		<table class="table" style="background-color:#333">
		<tr>
		<th>İşlem</th>
		<th>Bot Adı</th>
		<th>Bot ID</th>
    <th>Sahip</th>
		<th style="width:10%;">Prefix</th>
		</tr>	
		<%for(var i = 0; i < Object.keys(bot.ayar.fetch('botlar')).length; i++) {%>
		<% let id = Object.keys(bot.ayar.fetch('botlar'))[i] %>
		<% if (bot.ayar.fetch(`botlar.${id}.sertifikaistek`) === 'Sertifika İsteği' ) { %>
		<tr>
		<td><a class="btn btn-success" href="/botyonetici/sertifikaver/<%=id%>">Sertifika ver<i aria-hidden="true"></i></a>
		<a class="btn btn-warning" href="/botyonetici/sertifikaverme/<%=id%>">Sertifika işlemini iptal et<i aria-hidden="true"></i></a></td>
		<td><%=bot.ayar.fetch(`botlar.${id}.isim`)%></td>
		<td><%=bot.ayar.fetch(`botlar.${id}.id`)%></td>
    <td><%=bot.ayar.fetch(`botlar.${id}.sahip`)%></td>
		<td><%=bot.ayar.fetch(`botlar.${id}.prefix`)%></td>
		</tr>
		<% } %>
		<%}%>
		</table>
		</div>
</div>
<br><br>
       <!-- Sertifika sil bölümü -->
<a class="btn btn-default" data-toggle="collapse" style="background-color: #fff;color: #222;width: 100%;border: 1px solid #ddd;margin-bottom: 5px;font-size: 18px;border-radius: 2px;" data-target="#sertifikaiptal">Sertifika Sil</a>
<div id="sertifikaiptal" class="collapse in">
<div style="overflow-x:auto;width: 100%;font-size: 15px;">
		<table class="table" style="background-color:#333">
		<tr>
		<th>İşlem</th>
		<th>Bot Adı</th>
		<th>Bot ID</th>
    <th>Sahip</th>
		<th style="width:10%;">Bot Prefix</th>
		</tr>	
		<%for(var i = 0; i < Object.keys(bot.ayar.fetch('botlar')).length; i++) {%>
		<% let id = Object.keys(bot.ayar.fetch('botlar'))[i] %>
		<% if (bot.ayar.fetch(`botlar.${id}.sertifika`)) { %>
		<tr>
		<td><a class="btn btn-danger" href="/botyonetici/sertifikasil/<%=id%>">Sertifikayı sil<i aria-hidden="true"></i></a></td>
		<td><%=bot.ayar.fetch(`botlar.${id}.isim`)%></td>
		<td><%=bot.ayar.fetch(`botlar.${id}.id`)%></td>
    <td><%=bot.ayar.fetch(`botlar.${id}.sahip`)%></td>
		<td><%=bot.ayar.fetch(`botlar.${id}.prefix`)%></td>
		</tr>
		<% } %>
		<%}%>
		</table>
		</div>
</div><br><br>
    <!-- Bot Silme Bölümü-->
<a class="btn btn-default" data-toggle="collapse" style="background-color: #fff;color: #222;width: 100%;border: 1px solid #ddd;margin-bottom: 5px;font-size: 18px;border-radius: 2px;" data-target="#botsil">Bot Sil</a>
<div id="botsil" class="collapse in">
<div style="overflow-x:auto;width: 100%;font-size: 15px;">
		<table class="table" style="background-color:#333">
		<tr>
		<th>İşlem</th>
		<th>Bot Adı</th>
		<th>Bot ID</th>
    <th>Sahip</th>
		<th>Bot Prefix</th>
		</tr>	
      
		<%for(var i = 0; i < Object.keys(bot.ayar.fetch('botlar')).length; i++) {%>
		<% let id = Object.keys(bot.ayar.fetch('botlar'))[i] %>
	  <tr>
		<td><a class="btn btn-danger" href="/botyonetici/botsil/<%=id%>">Botu Sil<i aria-hidden="true"></i></a>
    </td>
		<td><%=bot.ayar.fetch(`botlar.${id}.isim`)%></td>
		<td><%=bot.ayar.fetch(`botlar.${id}.id`)%></td>
    <td><%=bot.ayar.fetch(`botlar.${id}.sahip`)%></td>
		<td><%=bot.ayar.fetch(`botlar.${id}.prefix`)%></td>
		</tr>
		<%}%>
		</table>
		</div>
</div>
  <br><br>
<% } else {%>
<h5 style="color:#fff">
Sistemde hiç bot bulunmuyor.
</h5>
<% } %>

</div>
</div>
</div>
</div></div><div></div>
<% include ./ek/footer %>%>